@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Custom Classes */
.grayscale {
    filter: grayscale(100%);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}
.profile-enter {
  max-height: 0;
  opacity: 0;
}
.profile-enter-active {
  max-height: 200px; /* adjust as necessary */
  opacity: 1;
  transition: max-height 300ms ease-in, opacity 300ms ease-in;
}
.profile-exit {
  max-height: 200px; /* adjust as necessary */
  opacity: 1;
}
.profile-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}
